.wrapper {
    width: 100%;
    padding: 20px 40px;
    color: var(--text-color);
    & .timework {
        padding: 8px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        border: 2px solid #ef0000;
        border-radius: 20px;
        margin-bottom: 30px;
    }

    & .wrap-box {
        margin-bottom: 25px;
        & .title {
            font-size: 1.5rem;
            margin-bottom: 10px;
            & span {
                font-weight: bold;
            }
        }
        & .grid-content {
            & .item {
                position: relative;
                padding-left: 24px;
                margin-bottom: 10px;
                & svg {
                    width: 20px;
                    height: 20px;
                    fill: #2196f3;
                    position: absolute;
                    left: 0px;
                }
                & span {
                    color: #2196f3;
                }
                & a {
                    font-weight: bold;
                    color: #ef0000;
                }
            }
        }
    }
}
