.category {
    font-size: 1.8rem;
    text-transform: uppercase;
}

.filter select {
    font-size: 1.4rem;
}

.inner-content {
    background-color: var(--global-text-color);
    padding: 15px 15px 20px;
}
