.cart-title {
    font-size: 1.7rem;
    text-transform: uppercase;
    color: var(--global-color);
    padding-bottom: 4px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    position: relative;
    &::after {
        content: '';
        display: block;
        width: 100px;
        height: 1px;
        background-color: var(--global-color);
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.detail-inner {
    font-size: 1.4rem;
    & .detail-title {
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    & .custom-table {
        text-align: center;
        & thead {
            text-transform: uppercase;
        }
        & tbody {
            & td {
            }
        }
        & .icon-delete {
            font-size: 2rem;
            color: var(--global-color);
            cursor: pointer;
        }
        & .wrapper-action {
            font-size: 1.6rem;
            & .custom-table-btn {
                background-color: var(--global-color);
            }
        }
    }

    & .product-info {
        padding: 6px;
        text-align: center;
        & .product-name {
            font-weight: 500;
        }
        & .product-name:hover {
            color: var(--blue-color);
        }
        & .product-img {
            & img {
                width: 80px;
                object-fit: contain;
            }
        }
    }
}

.custom-table-btn {
    background-color: var(--global-color);
}
