.title {
    padding: 1.125rem 0;
    border-bottom: 0.0625rem solid #efefef;
    & .title-name {
        font-size: 1.8rem;
        text-transform: capitalize;
    }
    & p {
        font-size: 1.4rem;
    }
}

.custom-label {
    text-align: right;
}

.custom-control {
    font-size: 1.6rem;
}

.custom-input-check {
    position: relative;
}

.btn-custom {
    background-color: var(--global-color);
    outline: none;
    border: none;
    font-size: 1.8rem;
    padding: 5px 20px;
}
