.wrapper {
    width: 100vw;
    & .login-box {
        width: 350px;

        & input {
            font-size: 1.6rem;
            height: 38px;
        }
        & .login-title {
            font-size: 2.2rem;
        }

        & .login-title2 {
            font-size: 1.4rem;
        }

        & .password-control {
            padding-right: 38px;
        }

        & .error {
            font-size: 1rem;
            color: var(--global-color);
            margin-bottom: 10px;
        }

        & .see {
            width: 38px;
            height: 38px;
            bottom: 0;
            right: 0;
            border-radius: 5px;
        }

        & .see.active {
            background-color: #0070ff;
            color: #fff;
        }

        & .remember-title {
            color: #98a2bf;
            font-size: 14px;
        }
    }

    & .btn-submit {
        font-size: 13px;
    }
}

.login-toast {
    position: fixed;
    top: 200px;
    right: 50px;
}
